.setting{
    display: flex;
    padding-bottom: 50px;
    margin-left: 20px;
}
.right{
    margin-left: 950px;
    margin-top: -360px;
}
#ip-left{
    width: 420px;
}
.box{
    margin-bottom: 30px;
}
#btn{
    margin-left: -230px;
}
#btn-cancle{
    float: right;
    
    margin-top: 100px;
}
#btn-done{
    margin-top: 10px;
    margin-left: -50px;
}