.header {
  margin-top: 20px;
}

.btn-new {
  float: right;
}

.report {
  margin-left: 35px;
  background-color: #e6e6e6;
  border-radius: 2px;
  min-height: 100vh;

  .report-item {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .question {
    margin-left: 35px;
  }

  .quiz-button {
    margin-top: 10px;

    i {
      margin-right: 6px;
    }
  }

  .excel {
    background-color: #2a9235;
    color: #fff;
    margin-right: 6px;
    border-radius: 4px;
  }

  .detail-btn {
    background-color: rgb(182, 182, 182);
    color: black;
    border-radius: 4px;
  }

  /* ReportDetail */
  .conten {
    padding-top: 20px;
  }

  .synthetic {
    margin-left: 20px;
  }

  .synthetic-div {
    background: #ccc;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }

  .synthetic-div i {
    margin-top: 7px;
    font-size: 20px;
  }

  .synthetic-div p {
    padding-left: 5px;
  }
  .ant-menu-light {
    margin-bottom: -15px;
  }
  .nextPage {
    text-align: center;
  }
  .search {
    input {
      margin-left: 90px;
      border-radius: 5px;
      line-height: 9px;
      margin-top: 3px;
    }
  }
  .title-top-list-quizz {
    margin: 5px;
    margin-left: 100px;
    Select {
      border-radius: 5px;
      Select.Option {
        border-radius: 5px;
      }
    }
  }
  .title-top-list-quiz {
    margin-right: 10px;
  }
  .border {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(182, 181, 181);
    border-top: 1px solid rgb(163, 160, 160);
  }
  .button-nav-sumbit {
    padding: 14px;
    margin-top: 20px;
    background-color: #ecf83d;
    font-weight: 500;
    width: 150px;
    margin-left: 31px;
  }
  .nav-list-quiz-one {
    margin-left: auto;
    .quiz {
      margin-bottom: 80px;
    }
  }
}
