.search {
    margin-top: 30px;
}

.header {
    margin-top: 20px;
}

.btn-new {
    float: right;
}

.quiz {
    margin-top: 15px;
    padding: 10px 35px;
    background-color: #ccc;
    border-radius: 2px;
}

.question {
    margin-left: 35px;
}

.quiz-button {
    margin-top: 10px;
}

.excel {
    background-color: #2A9235;
    color: #fff;
}

.detail {
    background-color: rgb(182, 182, 182);
    color: black;
    margin-left: 20px;
}