.lobby__screen {
  background-color: #372b84;
  min-height: 100vh;
  .game-info {
    background-color: #25076b;
    padding: 50px;

    .game-pin {
      background-color: #f2f2f1;
      margin: 0 auto;
      border: 1px solid #fff;
      width: 80%;
      max-width: 500px;
    }

    h2 {
      font-size: 40px;
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      text-align: left;
      padding-left: 20px;
      color: #222;
    }
    h1.pin {
      color: #333;
      font-size: 5rem;
      font-weight: 900;
      letter-spacing: 10px;
      font-family: "Montserrat", sans-serif;
      text-align: center;
      margin: 0;
    }
  }
}
.gameinfobottom {
  width: 100%;
  .game-header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .player {
    text-align: center;
    padding-top: 50px;
    .player-list {
      display: flex;
      width: 80%;
      max-width: 700px;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;
      span {
        button {
          margin: 10px;
          &:hover span {
            text-decoration: line-through;
          }
        }
      }
    }
    h3 {
      color: #fff;
    }
  }
}
.game__screen {
  background-color: #f2f2f1;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .question-info {
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2.5vmin calc(2.5rem + 5vmin);
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h1.question {
      text-align: center;
      font-size: 37;
    }
  }
  .question-body-container {
    position: absolute;
    width: 100%;
    top: 16vh;
    .next-btn {
      position: absolute;
      padding: 10px 20px;
      background-color: #1368ce;
      width: min-content;
      right: 20px;
      white-space: nowrap;
      top: 0;
      color: #fff;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-shadow: none;

      &:hover {
        text-shadow: rgb(0 0 0 / 25%) 0px 0.125rem 0px,
          rgb(0 0 0) 0px 0px 0.125rem;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
    .total-answer-result {
      border-radius: 4px;
      max-height: 40vh;
      height: 40vh;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 20px;
      width: fit-content;
      margin: auto;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .total-answer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        position: relative;
        .check-icon {
          // position: absolute;
          // top: -50px;
        }
        .answer-tree {
          width: 80px;
          // min-height: 120px;
          text-align: center;
          font-weight: bold;
          font-size: 20px;
          color: #fff;
          line-height: 30px;
          border-radius: 4px;
          margin-bottom: 8px;
          svg {
            width: 20px;
            height: 15px;
            path {
              fill: #fff;
            }
          }
        }

        .total-number {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .total-answer-1 {
        .answer-tree {
          background-color: #e21b3c;
        }
      }

      .total-answer-2 {
        .answer-tree {
          background-color: #1368ce;
        }
      }

      .total-answer-3 {
        .answer-tree {
          background-color: #d89e00;
        }
      }

      .total-answer-4 {
        .answer-tree {
          background-color: #26890c;
        }
      }

      .answer-item {
        position: relative;
        background-color: #26890c;
        padding: 10px 20px;
        color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 30px;
        border-radius: 4px;
        text-shadow: rgb(0 0 0 / 25%) 0px 0.125rem 0px,
          rgb(0 0 0) 0px 0px 0.125rem;
        font-weight: bold;
        letter-spacing: 1px;

        .answer-item-players {
          position: absolute;
          top: -20px;
          padding: 5px 15px;
          background-color: #1d7008;
          right: 80%;
          align-items: center;
          font-size: 20px;
          border-radius: 100px;
          letter-spacing: 0;
          display: flex;
          svg {
            width: 20px;
            height: 15px;
            margin-left: 10px;
            path {
              fill: #fff;
            }
          }
        }
      }
    }

    .question-image {
      max-height: 45vh;
      min-height: 40vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      .time {
        background-color: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        font-weight: bold;
        margin: 0 70px 0 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .player-answered {
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        width: 150px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-right: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .image {
        max-height: 100%;
        width: 60%;
        text-align: center;

        &.no-image {
          opacity: 0.4;
        }

        img {
          max-height: 40vh;
          max-width: 100%;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
        }
      }
    }
  }
  .answers {
    position: absolute;
    width: 100%;
    bottom: 7vh;
    min-height: 35vh;
    display: flex;
    flex: 4 1 0%;
    flex-wrap: wrap;
    padding: 10px;
    align-content: stretch;
    .answer {
      &.correct {
        .correct-answer-check-button {
          position: absolute;
          top: 10px;
          right: 10px;
          flex: 0 0 auto;
          margin: 0px 0.5rem;
          width: 2.875rem;
          height: 2.875rem;
          background: transparent;
          border: 0;
          svg {
            width: 40px;
          }
        }
      }
      &.in-correct {
        opacity: 0.3;
      }
      width: calc(50% - 0.25rem);
      border-radius: 8px;
      margin-bottom: 0.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 10px;
      position: relative;
      color: #fff;
      padding: 20px 10px 20px 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 20px;
      text-shadow: rgb(0 0 0 / 25%) 0px 0.125rem 0px,
        rgb(0 0 0) 0px 0px 0.125rem;
      .answer-label {
        position: absolute;
        text-shadow: none;
        top: 10px;
        left: 10px;
        background-color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .answer-0 {
      background-color: #372b84;
      width: 70%;
      padding: 50px 10px;
      margin: auto;
      position: relative;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-align: center;
      font-size: 30px;
    }
    .answer-1 {
      .answer-label {
        color: #e21b3c;
      }
      background-color: #e21b3c;
      margin-right: 0.5rem;
    }
    .answer-2 {
      .answer-label {
        color: #1368ce;
      }
      background-color: #1368ce;
    }
    .answer-3 {
      .answer-label {
        color: #d89e00;
      }
      background-color: #d89e00;
      margin-right: 0.5rem;
    }
    .answer-4 {
      .answer-label {
        color: #26890c;
      }
      background-color: #26890c;
    }
  }
  .question-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 1vh;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  }
}
.start-quiz__screen {
  background-color: #372b84;
  height: 100vh;
  img {
    width: 100%;
    margin: 20px;
  }
  .start-quiz {
    width: 80%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .quiz-info {
      // background-color: #fff;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      * {
        color: #fff;
      }
      h1 {
        font-size: 40px;
        letter-spacing: 2px;
      }
    }
    button.create-room {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
    }
  }
}
